%h2 Finalizar Pedido
%br
= form_tag shipping_path(@shipping), :method => :put, :enctype => "multipart/form-data" do

  = render :partial => 'shipping_form'

  .form-group
  .control-label
    .col-sm-2
      = label :shipping, :signature, 'Firma (.jpg)'
    .col-sm-10
      = file_field :shipping, :signature
  .form-group
  .control-label
    .col-sm-2
      = label :shipping, :paymentMedia, 'Forma de pago'
    .col-sm-10
      = select :shipping, :paymentMedia, ['Contado', 'Debito']
  %br
  %br
  %br
  = submit_tag 'Finalizar', class: "btn-primary"