%h2 Finalizar Pedido
%br
= form_tag shipping_path(@shipping), :method => :put, :enctype => "multipart/form-data" do

  = render :partial => 'shipping_form'
  .form-horizontal
    .form-group
      .control-label
      .col-sm-6
        = label :shipping, :paymentMedia, 'Forma de pago:'
      .col-sm-6
        = select :shipping, :paymentMedia, ['Contado', 'Debito']
    .form-group
      .control-label
      .col-sm-6
        = label :shipping, :signature, 'Firma (.jpg):'
      .col-sm-6
        = file_field :shipping, :signature
  %br
  %br
  = submit_tag 'Entregar', class: "btn-primary center-block"