%h1 Mis Envios
%br

%div(class="container" )
%table.table-striped.table-bordered#shippings
  %thead
    %tr
      %th.col-md-4 <strong> Desde </strong>
      %th.col-md-4 <strong> Hasta </strong>
      %th.col-md-4 <strong> Solicitado </strong>
      %th.col-md-4 <strong> Estado </strong>
  %tbody
    - @shippings.each do |shipping|
      %tr
        %td.col-md-4= shipping.addressFrom
        %td.col-md-4= shipping.addressTo
        %td.col-md-4= shipping.created_at
        %td.col-md-4= shipping.status
        %td.col-md-4= link_to "Detalles", shipping_path(shipping), class: "btn-primary"
