.form-horizontal
  .form-group
    .control-label
    .col-sm-2
      = label :user, :name, 'Nombre'
    .col-sm-10
      = text_field :user, :name, :required => true

  .form-group
    .control-label
    .col-sm-2
      = label :user, :surname, 'Apellido'
    .col-sm-10
      = text_field :user, :surname, :required => true

  .form-group
    .control-label
    .col-sm-2
      = label :user, :email, 'Email'
    .col-sm-10
      = email_field :user, :email, :required => true

  .form-group
    .control-label
    .col-sm-2
      = label :user, :document, 'Documento'
    .col-sm-10
      = text_field :user, :document, :required => true

  .form-group
    .control-label
    .col-sm-2
      = label :user, :password, 'Contraseña'
    .col-sm-10
      = password_field :user, :password, :required => true

  .form-group
    .control-label
    .col-sm-2
      = label :user, :image, 'Foto (.jpg)'
    .col-sm-10
      = file_field :user, :image

  .form-group
    .control-label
    .col-sm-2
      = label :user, :userFrom, 'From', :style => 'display:none'
    .col-sm-10
      = number_field :user, :userFrom, value: params[:from], :style => 'display:none'