= label :user, :name, 'Nombre'
= text_field :user, :name, :required => true
%br
%br
= label :user, :surname, 'Apellido'
= text_field :user, :surname, :required => true
%br
%br
= label :user, :mail, 'Mail'
= text_field :user, :mail, :required => true
%br
%br
= label :user, :document, 'Documento'
= text_field :user, :document, :required => true