= label :user, :name, 'Nombre'
= text_field :user, :name
%br
%br
= label :user, :surname, 'Apellido'
= text_field :user, :surname
%br
%br
= label :user, :mail, 'Mail'
= text_field :user, :mail
%br
%br
= label :user, :document, 'Documento'
= text_field :user, :document