= label :user, :name, 'Nombre'
= text_field :user, :name

= label :user, :surname, 'Apellido'
= text_field :user, :surname

= label :user, :mail, 'Mail'
= text_field :user, :mail

= label :user, :document, 'Documento'
= text_field :user, :document