%h2 Details about #{@user.name}

%ul#Details
%li
Name:
= @user.name
%li
  Surname:
= @user.surname
%li
Document:
= @user.document
Email:
  %li
= @user.mail


= link_to 'Edit info', edit_user_path(@user)