= label :delivery, :name, 'Nombre'
= text_field :delivery, :name, :required => true
%br
%br
= label :delivery, :surname, 'Apellido'
= text_field :delivery, :surname, :required => true
%br
%br
= label :delivery, :email, 'Email'
= email_field :delivery, :email, :required => true
%br
%br
= label :delivery, :document, 'Documento'
= text_field :delivery, :document, :required => true
%br
%br
= label :delivery, :password, 'Contraseña'
= password_field :delivery, :password, :required => true
%br
%br
= label :delivery, :license, 'Licencia'
= file_field :delivery, :license, :required => true
%br
%br
= label :delivery, :papers, 'Papeles del vehiculo'
= file_field :delivery, :papers, :required => true
%br
%br
= label :delivery, :image, 'Foto'
= file_field :delivery, :image, :required => true
