.form-horizontal
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :name, 'Nombre'
    .col-sm-10
      = text_field :delivery, :name, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :surname, 'Apellido'
    .col-sm-10
      = text_field :delivery, :surname, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :email, 'Email'
    .col-sm-10
      = email_field :delivery, :email, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :document, 'Documento'
    .col-sm-10
      = text_field :delivery, :document, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :password, 'Contraseña'
    .col-sm-10
      = password_field :delivery, :password, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :license, 'Licencia'
    .col-sm-10
      = file_field :delivery, :license, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :papers, 'Papeles del vehiculo'
    .col-sm-10
      = file_field :delivery, :papers, :required => true
  .form-group
    .control-label
    .col-sm-2
      = label :delivery, :image, 'Foto'
    .col-sm-10
      = file_field :delivery, :image
