%h1 Cadetes
%br

<<<<<<< HEAD
%div(class="container")
%table.table-striped.table-bordered
  %thead
    %tr
      %th.col-md-4 <strong> Nombre </strong>
      %th.col-md-4 <strong> Apellido </strong>
      %th.col-md-4 <strong> Email </strong>
      %th.col-md-3 <strong> Documento </strong>
      %th.col-md-3 <strong> Activo </strong>
  %tbody
    - @deliveries.each do |delivery|
=======
%div(class="container" )
  %table.table-striped#cadets
    %thead
>>>>>>> 115e3cc5c9a81e30d8216d5219740b922a90f2ef
      %tr
        %td.col-md-4= delivery.name
        %td.col-md-4= delivery.surname
        %td.col-md-4= delivery.email
        %td.col-md-4= delivery.document
        %td.col-md-3= delivery.active
        %td.col-md-3= link_to "Detalles", delivery_path(delivery), class: "btn-primary"
        - if !delivery.active
          %td.col-md-4= link_to "Activar", {:controller => "deliveries", :action => "active", :id => delivery.id}, class: "btn-primary"