%h2 Detalles de #{@delivery.name}
%div
%ul#Details
  %br
  - if @delivery.image_file_name.nil?
    %img(src= "#{@delivery.imageFacebook}")
  - else
    %img(src= "#{@delivery.image.url}" height="200px"  width="150px" )
    %br

%table.table.table-bordered
  %tr
    %td <strong>Nombre:</strong>
    %td #{@delivery.name}
  %tr
    %td <strong>Apellido:</strong>
    %td #{@delivery.surname}
  %tr
    %td <strong>Documento:</strong>:
    %td #{@delivery.document}
  %tr
    %td <strong>Email:</strong>
    %td #{@delivery.email}
  %tr
    %td <strong>Papeles:</strong>
    %td
      =link_to "Descargar", @delivery.papers.url, download: @delivery.papers_file_name
  %tr
    %td <strong>Licencia:</strong>
    %td
      %img(src= "#{@delivery.license.url}" height="50px"  width="100px" )

%br
=link_to "Editar Información", edit_delivery_path(@delivery) , class: "btn-primary "

%div