<!DOCTYPE html>
<html>
<head>
  <title>EnviosYa</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js' %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"%>
  <%= stylesheet_link_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"%>
  <link rel="stylesheet" type="text/css" href="freelancer.css">
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
  </style>
</head>
<body>
<div class="form-group col-md-5 col-md-offset-2">
  <p class="text-danger"><%=flash[:notice]%></p>
</div>
<div align="right">
  <% if current_user %>
      Hola, <strong><%= current_user.name %></strong>!
      <% if current_user.image_file_name.nil? %>
          <%= image_tag(current_user.imageFacebook, :alt => "rss feed") %>
      <%else%>
          <%= image_tag(current_user.image.url(:thumb), :alt => "rss feed") %>
      <%end%>

      <%= link_to "Salir", signout_path, id: "sign_out" %>
  <% else if current_delivery %>
      Hola, <strong><%= current_delivery.name %></strong>!
      <% if current_delivery.image_file_name.nil? %>
          <%= image_tag(current_delivery.imageFacebook, :alt => "rss feed") %>
      <%else%>
          <%= image_tag(current_delivery.image.url(:thumb), :alt => "rss feed") %>
      <%end%>

      <%= link_to "Salir", signout_path, id: "sign_out" %>
  <% end %>
  <% end %>
</div>
<div>
<%= yield %>
</div>
</body>
</html>